/* Style the container */
.container {
  position: relative;
  width: 100%;
}

/* Style the image */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button */
.container .btn {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 36px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

/* Media queries for smaller screens */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  
  .container img {
    height: auto;
    max-height: 80vh;
  }
  
  .container .btn {
    font-size: 24px;
    padding: 8px 16px;
  }
}
